input {
    border: 1px solid rgba(145, 158, 171, 0.32);
    -webkit-transition: 0.2s;
    outline: none;
}

input[type=text]:focus {
    border: 1px solid #ff9f43 !important;
    box-shadow: none;
}

select:focus {
    border: 1px solid #3b28c9;
    box-shadow: none;
}

input:target {
    border: 1px solid #ff9f43 !important;
}

input:active {
    border: 1px solid #ff9f43 !important;
}

.attribution {
    font-size: 0.9rem;
    text-align: center;
    margin-top: 1rem;
}

.attribution-link {
    color: #0077cc;
    text-decoration: none;
    text-align: center;
    border-bottom: 1px solid #0077cc;
    padding: 3px;
}

.attribution-link:hover {
    background-color: #0077cc;
    color: white;
    border-color: transparent;
}
